.bg-image {
    position: absolute;
    top: 80px;
    left: 16px;
    z-index: -1;
}

#list-category-js {
    min-width: 360px;
    background-color: #fff;
    overflow-x: hidden;
}

#list-category-js::-webkit-scrollbar {
    display: none;
}

.hero__text-title {
    font-size: 2rem;
    color: #fff;
}

.hero__categories {
    /* width: 262px !important; */
}

.product {
    text-align: left;
    /* width: 1177px; */
}

.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}